.dropdown-items-container {
    position: fixed;
    z-index: 100;

    display: flex;
    flex-direction: column;

    max-height: 50vh;
    padding: 5px;

    font-weight: normal;

    border: 1px solid var(--color-grey-primary);
    border-radius: 5px;

    background-color: #fff;

    overflow-y: auto;
}

.dropdown-items-container-unfold-upper {
    top: auto;
    bottom: 150%;
}

.dropdown-items-container::-webkit-scrollbar {
    width: 5px;

    border-radius: 25px;
}

.dropdown-items-container::-webkit-scrollbar-thumb {
    border-radius: 25px;

    background-color: var(--color-grey-primary);
}

.hide {
    display: none;
}
