.container {
    position: relative;

    width: 100%;
    box-sizing: border-box;

    border-radius: 4px;

    cursor: pointer;

    user-select: none;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 10px 16px;

    font-size: 14px;
    font-family: var(--font-sf-pro-text);
    line-height: 20px;

    border: 1px solid var(--color-gray-light);
    border-radius: 8px;

    background: var(--color-white);

    user-select: none;
}

.placeholder {
    color: var(--color-grey);
}

.opened,
.text:hover {
    border-color: #ff5500;
}

.icon {
    cursor: pointer;

    transition: all 0.3s;
}

.active {
    transform: rotate(180deg);
}
