.container {
    display: flex;
    gap: 28px;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.counter {
    color: var(--color-black-pearl);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--font-sf-pro-text);
    line-height: 20px;
}

.close {
    cursor: pointer;
}
