.container {
    display: grid;
    grid-template-columns: 100px 1fr 114px;
    gap: 24px;
    align-items: start;

    width: 100%;
}

.image {
    border-radius: 8px;

    overflow: hidden;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: var(--color-black-primary);
}

.title {
    font-weight: 600;
    font-size: 20px;
    font-family: var(--font-sf-pro-text);
    line-height: 20px;
    letter-spacing: -0.9px;
    word-spacing: 0.1px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-sf-pro-text);
    font-style: italic;
    line-height: 20px;
    letter-spacing: -1px;
}
