.container {
    width: 360px;
    padding: 10px 16px;
    box-sizing: border-box;

    color: var(--color-black-primary);
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-sf-pro-text);
    line-height: 20px;

    border: 1px solid var(--color-gray-light);
    border-radius: 8px;

    background: var(--color-white);
}

.container::-webkit-input-placeholder,
.container::-moz-placeholder {
    color: var(--color-grey);
}

.container:focus,
.container:hover {
    outline: 1px solid var(--color-orange);
}
