{
  "semi": true,
  "trailingComma": "all",
  "printWidth": 140,
  "tabWidth": 4,
  "endOfLine": "crlf",
  "importOrder": [
    "^(@clients).*",
    "^(@components).*",
    "^(@componentsUsingStore).*",
    "^(@store).*",
    "^(@common|@contexts|@hooks|@utils|@icons).*",
    "^.*/services/(.*)$",
    "^(..\\/|.\\/)[^@].*(?<!css)$",
    "^.*.(module).css$"
  ],
  "importOrderSeparation": true
}
