.dropdown-item {
    position: relative;

    display: flex;
    align-items: center;

    padding: 7px 15px;

    font-size: 14px;

    border-radius: 4px;

    user-select: none;
}

.dropdown-item-with-check-icon {
    padding-left: 34px;
}

.dropdown-item-check-icon {
    position: absolute;
    top: 50%;
    left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    transform: translateY(-50%);
}

.text {
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;

    user-select: none;
}
