.unselect-button {
    display: flex;
    justify-content: start;

    padding: 8px;

    color: #000;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    line-height: 16px;

    border: none;

    background-color: #fff;

    user-select: none;
}

.unselect-button:hover {
    background-color: var(--color-grey-light);

    cursor: pointer;
}

.unselect-button-selected {
    font-weight: bold;

    background-color: var(--color-grey-light);
}

.border {
    padding: 3px;

    border-bottom: 1px solid var(--color-grey-primary);
}
