.enter {
    height: 0;

    opacity: 0;
}

.enter-active {
    height: 19px;

    opacity: 1;

    transition: opacity 150ms ease-in, height 150ms ease-in;
}

.exit {
    height: 19px;

    opacity: 1;
}

.exit-active {
    height: 0;

    opacity: 0;

    transition: opacity 150ms ease-out, height 150ms ease-out;
}
