.dropdown-item {
    position: relative;

    display: flex;
    align-items: center;

    margin: 2px 0;
    padding: 6px;

    color: var(--color-grey-darkest);
    font-size: 14px;
    line-height: 16px;

    border-radius: 4px;

    user-select: none;
}

.text {
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;

    user-select: none;
}
