.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 32px;

    background-color: var(--color-gray-dark);
}

.link {
    color: var(--color-white);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
