.container {
    display: flex;
    justify-content: space-between;

    padding: 24px 32px;

    background-color: var(--color-gray-dark);
}

.title {
    color: var(--color-white);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
